@use "../base/tokens" as *;

.hero-text {
  width: 100%;
  font-size: $font-size-h5;
  padding: 0;
}

.hero-text .title {
  margin-bottom: 10px;
}

.form-box {
  width: 100%;
}

.hero-container {
  background: $bg-gradient-primary;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-text {
  width: 100%;
}

.slide-to-right {
  transform: translateX(-100%);
  transition: 0.6s ease;
}

.slide-to-right.visible {
  transform: translateX(0);
}


.subtitle {
  margin-bottom: 10px;
}

@media (min-width: 820px) {
  .hero-container {
    flex-direction: row;
    gap: 10px;
  }

  .hero-text {
    padding: 60px 0;
    width: 50%;
  }

  .hero-container .title {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
  }

  .form-box {
    width: 50%;
    padding: 30px;
    text-align: center;
  }
}
