@use "../base/tokens" as *;

.section-container {
  color: $text-primary;
  padding: 2rem 2.5rem;
  width: 100%;
}

@media (min-width: 820px) {
  .section-container {
    color: $text-primary;
    padding: 2rem 5rem;
  }
}
